doctype html
html(lang="en")
    head
        title #{title}
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="libs/jquery.js")
        script(src="/javascripts/login.js")
    body
        div(class="div_title")
            p #{title}
        div(class="dev_login")
            p #{account_text} 
            input(type="text" id="input_account" name="account")
            p #{password_text}
            input(type="text" id="input_password" password="*" name="password")
            p
            button(type="button" class="with100px" value='#{btnLogin}' onclick="btnCommitClicked('login');") #{btnLogin}
            p
            button(type="button" class="with100px" value='#{btnRegister}' onclick="btnCommitClicked('register');") #{btnRegister}
            